<html lang="en" class="">
	<head>
		<meta charset="utf-8">
		<title>TheWatchman</title>
		<link rel="stylesheet" href="./style.css">
		<script src="./scripts.js"></script>
	</head>
	<body>
		<div class="banner">
			<span>Scan Results</span>
		</div>
		<span style="width: 100%; height: 50px; background-color: white">&nbsp;</span>
		<img src="./screenshot.png" />
		<div class="container">
			<button class="accordion">
				Exposed Data
			</button>
			<div id="Data" class="panel">
				<p id="DataIn"></p>
			</div>
		</div>
		<br />
		<div class="container">
			<button class="accordion">
			Header Information
			<button>
			<div id="Headers" class="panel">
				<p id="HeadersIn"></p>
			</div>
		</div>
		<div>
			<br />
			<br />
			<div class="info">
				<span>You can find more information on Web Application Security <a href=""https://owasp.org/www-project-top-ten/">here</a></span>
			</div>
			<footer>
				<p>Author: Jordan Vaughn</p>
				<p>jordanvaughn1@gmail.com</p>
			</footer>
		</div>
	
	</body>
</html>